tr#upperBar th {
	border-right: 1 px solid;
	background-color: #0085cc;
	color: #fff;
	padding: 10px 50px 10px 50px;
}

.bookingList #listBar  {
	background-color: white;
	padding: 0px 50px 0px 50px;
	color: black;
	
}