<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!-- DB설정(Connection) -->
   
    <typeAliases>
       <typeAlias type="com.sist.movie.vo.UserVO" alias="user"/>
       <typeAlias type="com.sist.movie.vo.BookVO" alias="booking"/>
       <typeAlias type="com.sist.movie.vo.MovieVO" alias="movieList"/>
       <typeAlias type="com.sist.movie.vo.MovieDemoVO" alias="movieDemo"/>
       <typeAlias type="com.sist.movie.vo.SeatVO" alias="Seat"/>
       <typeAlias type="com.sist.movie.vo.AskVO" alias="ask"/>
       <typeAlias type="com.sist.movie.vo.BookingDemoVO" alias="bookingDemo"/>
       <typeAlias type="com.sist.movie.vo.AnswerVO" alias="askanswer"/>
       <typeAlias type="com.sist.movie.vo.TheaterVO" alias="theaterList"/>
       <typeAlias type="com.sist.movie.vo.ReviewVO" alias="review"/>
       <typeAlias type="com.sist.movie.vo.ActorVO" alias="actor"/>
       <typeAlias type="com.sist.movie.vo.ProductVO" alias="Product"/>
       <typeAlias type="com.sist.movie.vo.HeartVO" alias="Heart"/>
       
    </typeAliases>
   
    
    <mappers>
      <mapper resource="com/sist/movie/dao/AdminMapper.xml"/>
      <mapper resource="com/sist/movie/dao/BookMapper.xml"/>
      <mapper resource="com/sist/movie/dao/MovieMapper.xml"/>
      <mapper resource="com/sist/movie/dao/mypagemapper.xml"/>
      <mapper resource="com/sist/movie/dao/ReviewMapper.xml"/>
      <mapper resource="com/sist/movie/dao/SchedulerMapper.xml"/>
      <mapper resource="com/sist/movie/dao/StoreMapper.xml"/>
      <mapper resource="com/sist/movie/dao/TheaterMapper.xml"/>
      <mapper resource="com/sist/movie/dao/UserMapper.xml"/>
      <mapper resource="com/sist/movie/dao/HeartMapper.xml"/> 
      <mapper resource="com/sist/movie/dao/AdminMovieMapper.xml"/> 
      
    </mappers>
</configuration>






