<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!-- DB설정(Connection) -->
   
    <typeAliases>
       <typeAlias type="com.sist.movie.vo.UserVO" alias="user"/>
       <typeAlias type="com.sist.movie.vo.BookVO" alias="Book"/>
       <typeAlias type="com.sist.movie.vo.MovieVO" alias="movieList"/>
       <typeAlias type="com.sist.movie.vo.SeatVO" alias="Seat"/>
       <typeAlias type="com.sist.movie.vo.AskVO" alias="ask"/>
       <typeAlias type="com.sist.movie.vo.BookingVO" alias="booking"/>
       <typeAlias type="com.sist.movie.vo.AnswerVO" alias="askanswer"/>
       <typeAlias type="com.sist.movie.vo.TheaterVO" alias="theaterlist"/>
    </typeAliases>
   
    
    <mappers>
      <mapper resource="com/sist/movie/dao/UserMapper.xml"/>
      <mapper resource="com/sist/movie/dao/MovieMapper.xml"/>
      <mapper resource="com/sist/movie/dao/TheaterMapper.xml"/>
      <mapper resource="com/sist/movie/dao/mypagemapper.xml"/>
    </mappers>
</configuration>





