/* 怨듯넻 */
/* body{
    width: 1260px;
    height: 620px;
    margin: 10px;
    background-color: olive;
}
div{
    margin: 0; 
    padding: 0;
} */
/* 怨듯넻 */
/* �꽑�깮�릺硫� 遺덈뱾�뼱�삤�뒗怨� */
.select_check{
    width: 700px;
    height: 60px;
    background-color: #282934;
    text-align: center;
    line-height: 60px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
}
.select_check > span{
    margin: 0px 10px;
}
.click{
    color: white;
}
.hidden{
    display: none;
}
/* �꽑�깮�릺硫� 遺덈뱾�뼱�삤�뒗怨� �걹 */

/* �삁�빟硫붿씤�꽭�똿 */
.booking_main{
    width: 1260px;
    height: 540px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
}
/* �쁽�옱�떆媛� */
.booking_current_time{
    width: 1260px;
    height: 98px;
    background-color: #eff5fa;
    text-align: center;
    color: #265396;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.booking_current_time > div , .booking_current_time > b {
    position: relative;
    top: 20%;
    font-size: 15px;
    font-weight: 900;
}
.booking_current_time > b{
    font-size: 200%;
    letter-spacing: -2px;
}
/* �쁽�옱�떆媛곷걹 */
/* �쁺�뿭�굹�늻湲� */
.booking_date{
    float: left;
    width: 194px;
    height: 442px;
    border-right: #f1f1f1 1px solid;
}
.booking_movie{
    float: left;
    width: 265px;
    height: 442px;
    border-right: #f1f1f1 1px solid  ;
}
.booking_theater{
    float: left;
    width: 140px;
    height: 442px;
}
.booking_time{
    float: left;
    width: 430px;
    height: 442px;
    position: relative;
    left: 60px;
    border-left: #f1f1f1 1px solid  ;
}
/* �쁺�뿭�굹�늻湲곕걹 */
/* 以묎컙�쁺�뿭 �꽭�똿 */
.middle_field{
    overflow:auto;
    width: 85%;
    height: 80%;
    position: relative;
    top: 5%;
    left: 8%;
}
.middle_field::-webkit-scrollbar, .middle_field_2_1::-webkit-scrollbar, .middle_field_2_2::-webkit-scrollbar{
    width: 3px;
    background: #ffffff;
}
.middle_field::-webkit-scrollbar-thumb,.middle_field_2_1::-webkit-scrollbar-thumb, .middle_field_2_2::-webkit-scrollbar-thumb{
    border-radius: 3.5px;
    background-color: #adadad;
}
.middle_field::-webkit-scrollbar-track,.middle_field_2_1::-webkit-scrollbar-track,.middle_field_2_2::-webkit-scrollbar-track{
    background-color: #eaeaea;
}
.middle_field_2_1, .middle_field_2_2{
    overflow:auto;
    width: 100%;
    max-height: 70%;
    position: relative;
    top: 5%;
    left: 15%;
}
.middle_field_2_1{
    background-color: #f6f6f6;
}
.middle_field_2_1 > .selecter_name{
    background-color: white;
}
/* 以묎컙�쁺�뿭 �꽭�똿�걹 */
/* 以묎컙�쁺�뿭�궡遺� 癒몃━留� */
.selecter_name{
    font-weight: bold;
    font-size: 20px;
}
/* 以묎컙�쁺�뿭�궡遺� 癒몃━留먮걹 */
/* 以묎컙�쁺�뿭�궡遺� ul�냽�꽦吏��젙 */
.list > ul{
    margin-top: 5px;
    list-style: none;
    padding: 0;
}
/* 以묎컙�쁺�뿭�궡遺� ul�냽�꽦吏��젙 �걹 */
/* 以묎컙�쁺�뿭�궡遺� 踰꾪듉 �냽�꽦吏��젙 */
.btn{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    text-align: left;
    padding: 0;
}
.btn:hover{
    color: white;
    background-color: #7186a6;
}/*�샇踰�*/
.btn_on{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-color: #265396;
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    text-align: left;
    padding: 0;
}
/* 以묎컙�쁺�뿭�궡遺� 踰꾪듉 �냽�꽦吏��젙�걹 */
/* 洹뱀옣�꽑�깮 踰꾪듉�냽�꽦吏��젙 */
.btn_on2{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-color: #4e87db;
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    text-align: left;
    padding: 0;
}
/* 洹뱀옣�꽑�깮 踰꾪듉�냽�꽦吏��젙�걹 */
/* �쁺�솕�꽑�깮 �궡遺� �씠誘몄� �냽�꽦蹂�寃� */
.btn > span > img , .btn_on > span >img{
    width: 15px;
    position: relative;
    top: 1px;
}
/* �쁺�솕�꽑�깮 �궡遺� �씠誘몄� �냽�꽦蹂�寃쎈걹 */
/* 洹뱀옣�꽑�깮 �궡遺� �냽�꽦蹂�寃� */
.middle_field_2_2 > .list > .btn{
    width: 80%;
}
.middle_field_2_2 > .list > .btn_on{
    width: 80%;
}
/* 洹뱀옣�꽑�깮 �궡遺� �냽�꽦蹂�寃� */
/* �떆媛꾩꽑�깮 �궡遺� �냽�꽦蹂�寃� */
.time{
    font-size: 17px;
    float: left;
    font-weight: 300;
    line-height: 21px;
}
.theater{
    float: left;
    margin-left: 5px;
}
.possible_now{
    font-weight: bold;
    font-size: 13px;
}
.all{
    font-size: 10px;
    color: #a4a4a4;
}
/* �떆媛꾩꽑�깮 �궡遺� �냽�꽦蹂�寃� */
/* �떆媛꾩꽑�깮 踰꾪듉 �냽�꽦蹂�寃� */
.time_btn{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    text-align: right;
    padding: 0;
    color: #282934;
    font-weight: 600;
}
.time_btn:hover{
    color: black;
    background-color: #b9c1cc;
}/*�샇踰�*/
.time_btn.on{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-color: #265396;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    padding: 0;
}
/* �떆媛꾩꽑�깮 踰꾪듉 �냽�꽦蹂�寃쎈걹 */
/* 遺��궧 ���젆�꽣 �떆�옉 */
.seat_info{
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    margin-top: 10px;
}
.ghost_box{
    float: left;
    height: 400px;
    width: 100px;
    background-color: white;
}
.choice_box{
    background-color: #eff5fa;
    width: 650px;
    height: 350px;
    border-radius: 10px;
    margin-top: 50px;
    float: left;
}
.choice_person{
    background-color: #eaeaea;
    height: 60px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.choice_old{
    display: inline-block;
    position: relative;
    bottom: 10px;  
    margin-left: 40px;
    font-weight: bold;
}
/*移댁슫�듃 踰꾪듉 �떆�옉*/
.down{
    float: left;
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    background-color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
}
.now{
    float: left;
    width: 42px;
    height: 32px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-width: 1px 0;
}
.up{
    float: left;
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    background-color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
}
.count{
    display: inline-block;
    width: 106px;
    margin-top: 15px;
    
}
/*移댁슫�듃 踰꾪듉 �걹*/
.choice_seat{
    width: 500px;
    height: 250px;
    margin-left: 90px;
    margin-top: 20px;
}
#screen{
    width: 500px;
    background-color: #d3e2ef;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
/*醫뚯꽍 �떆�옉*/
.seat_row{
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border: 1px solid #ccc;
}
.seat_row:hover{
    background-color: #b5b5b5;
}
.seat_number{
    position:absolute;
    left: 200px;
    width: 25px;
    height: 25px;
    background-color: #b1bbc3;
    border: 0px;
}
.common{
    cursor: pointer;
}
.common:hover{
    background-color: #265396;
}
.choice{
    background-color: #d92121;
    cursor: pointer;
}
.finish{
    background-color: #777777;
    font-size: 20px;
}
/*醫뚯꽍 �걹*/
/*�눥諛뺤뒪 �떆�옉*/
.show_box{
    background-color: #282934;
    float: left;
    width: 400px;
    height: 350px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 20px;
}
.show_box_left{
    width: 200px;
    display: inline-block;
}
.show_box_right{
    position: relative;
    bottom: 30px;
    display: inline-block;
}
#pay_btn{
    position: relative;
    top: 10px;
    border-bottom-left-radius: 10px;
    background-color: #265396;
    height: 60px;
    width: 200px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
    cursor: pointer;
}
#rollback_btn{
    position: relative;
    bottom: 50px;
    left: 200px;
    border-bottom-right-radius: 10px;
    background-color: #21222f;
    height: 60px;
    width: 200px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
    cursor: pointer;
}

/* booking 모달 */
#my_Bookmodal {
	display: none;
	 width: 1260px;
    height: 620px;
    margin: 10px;
    background-color:none;
	padding: 20px 60px;
	border-radius: 3px;
}

#my_Bookmodal .modal_close_btn {
	position: absolute;
	top: 32px;
	right: 64px;
}
/*�눥諛뺤뒪 �걹*/




