/* 
* {
    font-family: "Noto Sans KR", sans-serif;
} */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,.glyphicon ,glyphicon-search {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    
}
ol, ul {
	list-style: none;
    margin: 0px;
    padding: 0px;
}
.hidden{
    display: none;
}
/* HTML5 display-role reset for older browsers */

/* GNB logo 占쎌겫占쎈열*/
.wrapping{
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
} /*占쎌삫占쎈릅 : 餓λ쵌而숋옙�젟占쎌졊 / 筌ㅼ뮆占쏙옙猷� 1200px / 揶쏉옙占쎌뒲占쎈쑓占쎌젟占쎌졊 */
.gnb{
    height: 160px;
    background-color:#ffffff;
    border-bottom: 1px solid #ebebeb;
    box-sizing: content-box;
} /*gnb : 占쎌겫占쎈열 160px / 獄쏄퉫�젃占쎌뵬占쎌뒲占쎈굡 �뚎됱쑎 占쎌뵛占쎄퉳 / 獄쏅쵐夷� 1px �뚎됱쑎筌욑옙占쎌젟 / 占쎌겫占쎈열筌띿쉸�뼚占쎄퐣 占쎈�믭옙紐®뵳�딆읅占쎌뒠 */
.gnblogo {
    padding-top: 37px;
    /* position: relative;  占쎌뵬占쎈뼊癰귣�履� */
} /*gnblogo : 占쎈솭占쎈뎃占쎄튃 37px  */
.gnblogo ul{
    position: absolute;
    top: 40px;
    right: 19%;
} /*gnblogo ul : 占쎌쟿占쏙옙占쎌겫占쎈열筌욑옙占쎌젟 / top占쎈퓠占쎄퐣 40px占쎌뵠占쎈짗 / 占쎌궎�몴紐꾠걹占쎈퓠 �겫�늿�뵠疫뀐옙 */
.gnblogo ul li{
    display: inline-block;
} /*gnblogo ul li : 餓κ쑬而�饔낉옙 占쎈씨占쎈막疫뀐옙 */
.gnblogo > ul > li > img{
    cursor: pointer;
} 
/* GNB logo 占쎌겫占쎈열占쎄국*/

/* GNB 筌롫뗀�뤀占쎌겫占쎈열*/
.menu > ul li {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing : -2px;
    position: relative;
    top: 20.5px; 
    cursor: pointer;
}/* 揶쏉옙嚥≪뮆援뱄옙肉� / 占쎈？占쎈뱜占쎄텢占쎌뵠筌앸뜆�쒙옙�쟿 / 癰귥눖諭� / 占쎈？占쎈뱜 / 疫뀐옙占쎈뎁揶쏄쑨爰� / 占쎌맄燁살꼷�쒙옙�쟿 */
.menu > ul li:nth-child(3) img {
    position: relative;
    bottom: -9px; 
} /* 占쎌뵠沃섎챷占� 占쎌맄燁삼옙 筌띿쉸�뀤疫뀐옙 */
.menu > ul li:nth-child(1),.menu > ul li:nth-child(4) {
    margin-right: 90px;
} /* 揶쏄쑨爰� 筌띿쉸�뀤疫뀐옙 */
.menu > ul li:nth-child(3) {
    margin: 0 63px;
} /* 揶쏄쑨爰� 筌띿쉸�뀤疫뀐옙 */

/* 筌뤴뫀�뼎 疫꿸퀡�뮟  */
#my_modal {
	display: none;
	width: 527px;
	height: 633px;
	padding: 20px 60px;
	background-color: #fefefe;
	border: 1px solid #888;
	border-radius: 3px;
}

#my_modal .modal_close_btn {
	position: absolute;
	top: 10px;
	right: 10px;
}



#info_user{
	
	position: relative;
	bottom : 10px;
}

/* GNB 筌롫뗀�뤀占쎌겫占쎈열占쎄국*/




