/* 공통 */
body{
    margin: 0;
    background-color: #f5f5f5;
}
.join_Pop_Wrapping{
    width: 670px;
    margin: 0 auto;
    background-color: #ffffff;
}
.contents{
    text-align: center;
}
.topcon{
    padding-top: 50px;
    padding-bottom: 50px;
}
.topcon > span{
    color: #d92121;
    font-size: 34px;
    font-weight: bold;
    letter-spacing : -2px;
}
.join_list {
    height: 110px;
    background-color: #f9f9f9;
}
.hidden{
    display: none;
}
.midcon{
    height: 750px;
}
button{
    cursor: pointer;
}
#close_join{
	cursor: pointer;
}
.pass{
	color: #3659b1;
}
.fail{
	color: #d92121;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#exit_btn{
	cursor: pointer;
	position: absolute;
	right: 35%;
}
/* 공통 끝 */
/* STEP.1 */
.midcon > a > img{
    margin-top: 50px;
    margin-bottom: 15px;
    cursor: pointer;
}
.midcon > span{
    font-size: 12px;
}
.midcon > button{
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0);
    padding: 15px 95px 15px 95px;
    color: #d92121;
    border: 1px #d92121 solid;
    font-weight: bold;
}
/* STEP.1 끝 */
/* STEP.2 */
.midcon_Wrapping{
    width: 550px;
    margin: 0 auto;
}
.midcon > .mid_top{
    font-size: 15px;
    text-align: left;
    color: #666666;
    letter-spacing: -1px;
}
.midcon > .mid_top:first-child{
    color: black;
    font-size: 17px;
    font-weight: bold;
    margin-top: 30px;
}
.mid_box{
    overflow:auto;
    width:550px;
    height:130px;
    border: 1px solid #dfdfdf;
    font-size: 14px;
    color: #666666;
    text-align: left;
}
.mid_box::-webkit-scrollbar{
    width: 4px;
    height: 5px;
    background: #ffffff;
}
.mid_box::-webkit-scrollbar-thumb{
    border-radius: 3.5px;
    background-color: #adadad;
}
.mid_box::-webkit-scrollbar-track{
    background-color: #dfdfdf;
}
.ok_checkbox > input{
    cursor: pointer;
}
.midcon > .ok_checkbox{
    position: relative;
    right: 213px;
    top: 10px;
    font-size: 13px;
}
/* STEP.2 끝 */
/* STEP.3*/
form > button{
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0);
    padding: 15px 95px 15px 95px;
    color: #d92121;
    border: 1px #d92121 solid;
    font-weight: bold;
    text-align: right;
}
#id_overlap{
    position: relative;
    top: 63%;
    right: 3%;
    background-color: black;
    padding: 4px;
    color: white;
    font-weight: 200;
    cursor: pointer;
    user-select: none;
}
input#id{
	position: relative;
    left: 68px;
}
.info_list{
    list-style: none;
    text-align: right;
    padding: 0;
    color: #666666;
    font-size: 15px;
    font-weight: bolder;
}
.info_list > li{
    margin: 5px 0px;
    margin-right: 10px;
}
.info_list > li > div{
    float: left;
    line-height: 54px;
}
.info_list > li > input{
    width: 400px;
    height: 50px;
    background-color: #f8f8f8;
    border-radius: 5px;
    border: 1px #f0f0f0 solid;
}
li > input[type=radio]{
    display: none;
}
li > input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 50px;
    width: 198px;
    border: 1px #f0f0f0 solid;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
}
li > input[type=radio]+label{
    background-color: #f8f8f8;
}
li > input[type=radio]+label:hover{
    color: #d92121;
}
li > input[type=radio]:checked+label{
    background-color: #333;
    color: #fff;
}
/* STEP.3 끝*/
/* STEP.4*/

.midcon > b {
    color: #d92121;
    font-size: 20px;
}