a { text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { text-decoration: none;}
.select {
   max-width: 1200px;
   padding-top: 50px;
   text-align: center;
   margin: auto;
}
.align-button {
    text-align: right;
}
.align-button img{
    width: 6%;
    height: 6%;
}
.list_button button {
	height: 40px; 
	width: 150px; 
	font-size: 15px; 
	text-align: center; 
	border-radius: 5px; 
	background-color: #f3f3f3;
	font-weight: bold; 
	color: #939796;
	border: 1px solid white;
	box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.list_button #boxoffice {
	background-color: black;
    color: white;
    border: none;
} 
#like {
   height: 20px; width: 20px;
}

/* .movielist img{
    width: 230px; 
    height: 290px; 
}
.movie_wrapping {
   margin: 0 auto;
}
.movielist {
   height: 3000px;   
   max-width: 1200px;
   position: relative;   
   text-align: left;
}
.movielist div {
   float:left;
   padding: 20px;
} */
.movielist #title {
   color: black;
}
.movielist #ratio {
   color: #1a67bb;
   font-weight: bold;
}
#title {
   margin-top: 4px;
   font-size: 18px;
   font-weight: bold;
   margin-bottom: 10px;
}
.movielist button {
   height: 40px; 
   width: 150px;
   color:white;
   font-weight: bold;
   background-color: #191d36;
   border-radius: 5px;
}
.movies {
   margin: 0 auto;
}
#release , #runningtime{
   color: #939796;
   font-weight: bold;
}
.movie button {
   margin-top: 10%;
}