/* 
* {
    font-family: "Noto Sans KR", sans-serif;
} */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,.glyphicon ,glyphicon-search {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
    
}
ol, ul {
   list-style: none;
    margin: 0px;
    padding: 0px;
}
/* HTML5 display-role reset for older browsers */

/* GNB logo     */
.wrapping{
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
} /*     :  ߰      /  ִ    1200px /         */
.gnb{
    height: 160px;
    background-color:#ffffff;
    border-bottom: 1px solid #ebebeb;
    box-sizing: content-box;
} /*gnb :      160px /   ׶     ÷      /      1px  ÷      /        缭  ׵θ      */
.gnblogo {
    padding-top: 37px;
    /* position: relative;   ϴܺ    */
} /*gnblogo :  е ž 37px  */
.gnblogo ul{
    position: absolute;
    top: 40px;
    right: 19%;
} /*gnblogo ul :    뿵       / top     40px ̵  /      ʿ     ̱  */
.gnblogo ul li{
    display: inline-block;
} /*gnblogo ul li :  ٹٲ     ֱ  */
/* GNB logo       */

/* GNB  ޴     */
.menu > ul li {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing : -2px;
    position: relative;
    top: 38.5px; 
    cursor: pointer;
}/*    γ    /   Ʈ           /      /   Ʈ /  ۾      /   ġ     */
.menu > ul li:nth-child(3) img {
    position: relative;
    bottom: 5px; 
} /*  ̹      ġ    ߱  */
.menu > ul li:nth-child(1),.menu > ul li:nth-child(4) {
    margin-right: 90px;
} /*         ߱  */
.menu > ul li:nth-child(3) {
    margin: 0 63px;
} /*         ߱  */

/* GNB  ޴       */

/* content     */
.content{
    height: 810px;
    background-color: #f8f8f8;
} /*            810px /   ׶              */
.content > .wrapping{
    background-color: #f8f8f8;
} /*     ο              */
.search-box input:focus::-webkit-input-placeholder {
    color:transparent;
} /*  ؽ Ʈ ڽ  Ŭ   ϸ   ؽ Ʈ        */
.search-box > form > input{
    position: relative;
    top:50px;
    height: 73px;
    width: 800px;
    left: 20px;
    border-radius: 15px;
    border: 0;
    outline:0px;
    box-shadow: 3px 3px 3px 3px #f2f2f2;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
} /*  ˻ â      Ǻ   , âũ ⺯  ,  ձ۰ 15px,  ⺻ ٱ      ֱ  / Ŭ          ٱ      ֱ 
     /  ׸    /  ۼ   Ʈ       ,      */
.search-box .glyphicon.glyphicon-search {
    position: relative;
    font-size: 30px;
    top: 60px;
    right: 55px;
    cursor: pointer;
} /*               ũŰ /   ġ     */
.category ul li{
    display: inline-block;
    position: relative;
    top:130px;
    font-size: 20px;
    padding: 0 15px;
    cursor: pointer;
    color: #c7c7c7;
} /*   ũ li         ,   ġ     /   Ʈ       /  е   ¿  15 */
.category > span {
    text-decoration:none;
    cursor: pointer;
}
.category_off:hover{
    text-decoration:none;
    color: #3c3c3c;
    font-weight: 400;
} /* a ±    ũ      /   Ʈ   󺯰  */
.category_on{
    color: black;
    font-weight: bold;
    font-size: 23px;
    border-bottom: 0.5px solid #d84d4d;
    padding: 2px;
}
#more_view{
    position: relative;
    top: 95px;
    left: 505px;
    font-weight: bold;
    font-size: 15px;
    color: #3c3c3c;
    cursor: pointer;
}
.movie-list{
    height: 30px;
}
.movie-list ul li{
    display: inline-block;
    position: relative;
    top: 165px;
} /*                ,   ġ     */

.movie-list ul li:first-child {
    margin-left: -12px;
} 

.movie-list ul li img{
    height: 418px; 
    width: 287px; 
    border-radius: 15px;
    margin-right: 10px;

} /*  ̹   ũ       /  ׵θ  ձ۰  /            10 */
.hovercon{
    position: relative;
    top: 135px;
    filter: opacity(0.8);
}
.main_hover_con{
    /* display: inline-block; */
    float: left;
    height: 418px; 
    width: 287px; 
    border-radius: 15px;
    margin-right: 10px;
    color: white;
    background-color: black;
    text-align: left;
    width: 287px;
    height: 418px;
    color: black;
    z-index: 999;
} /*  ̹   ũ       /  ׵θ  ձ۰  /            10 */
.main_hover_con > .hover_back{
    
    background-color: black;
    height: 396px;
    width: 287px;
    border-radius: 15px;
}
.hover_txt{
    position: relative;
    top: 235px;
    display: block;
    margin-left: 20px;
    color: white;
}


.main_hover_btn{
    position: relative;
    top: 236px;
    float: left;
    width: 200px;
    height: 60px;
    color: white;
    border-bottom-left-radius: 14px;
    background-color: #d92121;
    line-height: 60px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
.main_hover_like, .main_hover_like_on{
    position: relative;
    top: 236px;
    float: left;
    width: 87px;
    height: 60px;
    border-bottom-right-radius: 14px;
    background-color: #3d4356;
    line-height: 60px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}


.movie-list ul li:last-child {
    margin-right: 0px;
} /*                ʸ    0 */
/* content       */


/*Ǫ       */
.footer{
    height: 150px;
    background-color: #191919;
} /* Ǫ Ϳ    150 /          */
.footer > .wrapping{
    background-color: #191919;
} /* Ǫ ͷ             */
.footercontent{
    position: relative;
    top: 50px;
    right: 40%;
} /* Ǫ    ΰ    ġ     */
.footer > .wrapping > p{
    position: relative;
    left: 20%;
    margin:0;
    color: #9c9c9c;
    text-align: left;
} /* Ǫ    ؽ Ʈ   ġ     */
