/* 
* {
    font-family: "Noto Sans KR", sans-serif;
} */

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,.glyphicon ,glyphicon-search {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    
}
ol, ul {
	list-style: none;
    margin: 0px;
    padding: 0px;
}
/* HTML5 display-role reset for older browsers */

/* GNB logo �쁺�뿭*/
.wrapping{
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
} /*�옪�븨 : 以묎컙�젙�젹 / 理쒕��룺 1200px / 媛��슫�뜲�젙�젹 */
.gnb{
    height: 160px;
    background-color:#ffffff;
    border-bottom: 1px solid #ebebeb;
    box-sizing: content-box;
} /*gnb : �쁺�뿭 160px / 諛깃렇�씪�슫�뱶 而щ윭 �씛�깋 / 諛묒쨪 1px 而щ윭吏��젙 / �쁺�뿭留욎떠�꽌 �뀒�몢由ъ쟻�슜 */
.gnblogo {
    padding-top: 37px;
    /* position: relative;  �씪�떒蹂대쪟 */
} /*gnblogo : �뙣�뵫�깙 37px  */
.gnblogo ul{
    position: absolute;
    top: 40px;
    right: 19%;
} /*gnblogo ul : �젅���쁺�뿭吏��젙 / top�뿉�꽌 40px�씠�룞 / �삤瑜몄そ�뿉 遺숈씠湲� */
.gnblogo ul li{
    display: inline-block;
} /*gnblogo ul li : 以꾨컮轅� �뾾�븷湲� */
/* GNB logo �쁺�뿭�걹*/

/* GNB 硫붾돱�쁺�뿭*/
.menu > ul li {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing : -2px;
    position: relative;
    top: 16.5px; 
}/* 媛�濡쒕굹�뿴 / �룿�듃�궗�씠利덉“�젅 / 蹂쇰뱶 / �룿�듃 / 湲��뵪媛꾧꺽 / �쐞移섏“�젅 */
.menu > ul li:nth-child(3) img {
    position: relative;
    bottom: -11px; 
} /* �씠誘몄� �쐞移� 留욎텛湲� */
.menu > ul li:nth-child(1),.menu > ul li:nth-child(4) {
    margin-right: 90px;
} /* 媛꾧꺽 留욎텛湲� */
.menu > ul li:nth-child(3) {
    margin: 0 63px;
} /* 媛꾧꺽 留욎텛湲� */

/* GNB 硫붾돱�쁺�뿭�걹*/

/* content �쁺�뿭*/
.content{
    background-color: white;
} /* 肄섑뀗痢좎쁺�뿭 810px / 諛깃렇�씪�슫�뱶 諛곌꼍�깋 吏��젙 */
.content > .black_bar{
    height: 440px;
    background-color: #191919;
}
.content > .black_bar > .wrapping > #on_img {
    padding-left: 30px;

}
#blur_back_img{
    height: 440px;
    width: 1200px;
    filter: opacity(0.3);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
#on_img{
    position:relative;
    bottom: 400px;
}
#main_title{
    text-align: left;
    font-size: 40px;
    color: white;
    font-weight: 500;
    margin-top: 15px;
}
#sub_title{
    text-align: left;
    font-size: 20px;
    color: white;
    margin-top: 15px;
}
#right_poster{
    position: absolute;
    right: 8px;
    top: -15px;
    width: 24%;
}
#right_button{
    position: absolute;
    width: 245px;
    height: 50px;
    color: white;
    font-size: 20px;
    line-height: 50px;
    right: 30px;
    top: 360px;
    background-color: #265396;
    cursor: pointer;
}

#on_img > div > ul{
    position: absolute;
    top: 250px;
}
#on_img > div > ul >li{
    float: left;
    font-size: 20px;
    color: white;
    padding-right: 40px;
}
#on_img > div > ul >li > span{
    font-size: 35px;
    font-weight: bold;
}
.summary{
    margin-top: 60px;
    margin-bottom: 30px;
    max-height: 400px;
    font-size: 15px;
    text-align: left;
}
.review {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
}
.review > span{
    font-weight: bold;
    font-size: 21px;
}
.review_lnput{
    padding: 20px 50px 20px 20px;
    display: flex;
}
.review_lnput > input{
    border: #d6e2ee 1px solid;
    border-radius: 5px;
    padding-left: 20px;
    width: 800px;
    height: 50px;
}
.review_lnput input:focus::-webkit-input-placeholder {
    color:transparent;
} /* �뀓�뒪�듃諛뺤뒪 �겢由��븯硫� �뀓�뒪�듃 �궗�씪吏�  */
#review_button{
    width: 130px;
    height: 55px;
    background-color: #466685;
    margin-left: 10px;
    border-radius: 5px;
    text-align: center;
    line-height: 58px;
    color: white;
    cursor: pointer;
}
.review_list{
    padding: 20px 50px 20px 20px;
    display: flex;
}
.review_lnput > input{
    border: #d6e2ee 1px solid;
    border-radius: 5px;
    padding-left: 20px;
}
#review_text{
    width: 950px;
    height: 50px;
    background-color: #ecf1f6;
    border-radius: 5px;
    line-height: 50px;
    padding-left: 20px;

}


/* content �쁺�뿭�걹*/


/*�뫖�꽣 �쁺�뿭*/
.footer{
    height: 150px;
    background-color: #191919;
} /* �뫖�꽣�쁺�뿭 150 / �깋�긽吏��젙 */
.footer > .wrapping{
    background-color: #191919;
} /* �뫖�꽣�옪�븨 �깮�긽吏��젙 */
.footercontent{
    position: relative;
    top: 50px;
    right: 40%;
} /* �뫖�꽣 濡쒓퀬 �쐞移섏“�젙 */
.footer > .wrapping > p{
    position: relative;
    left: 20%;
    margin:0;
    color: #9c9c9c;
    text-align: left;
} /* �뫖�꽣 �뀓�뒪�듃 �쐞移섏“�젙 */













