<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel='stylesheet' href='../html/join2.css'>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
$(function(){
   
});

</script>
</head>
<body>
<form action="Join2.jsp" method="POST">
<div class="join_Pop_Wrapping">
        <!--회원가입 1번-->
        <div class="join1">
            <div class="contents">
                <div class="topcon">
                    <span>JOIN</span>
                </div>
                <div class="join_list">
                    <img src="../img/join_list_1.png" class="join_list">
                </div>
                
                <input type="text" id="name" value="name"> 
                <input type="tel" id="tel" value="tel" style="display:hidden"> 
                <input type="year" id="year" value="year"> 
                <input type="gender" id="gender" value="gender"> 
                <div class="midcon">
                    <a><img src="../img/phone.png"></a>
                    <span><br>안심본인인증은 성명, 생년월일, 성별,연락처 등을 통해 인증하며, 
                    <br>한국신용평가㈜의정보를 사용합니다.<br></span>
                    <button type="submit" id="submit">건너뛰기</button>
                </div>        
            </div>
        </div>
     </div>
     </form>
</body>
</html>