<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.movie.dao.BookMapper">

	<!-- BOOK 매퍼 -->


	<!-- 본인이 선택한 시간,영화,상영관에 해당하는 타임테이블 -->
	<select id="movieSelectAction" parameterType="java.util.HashMap"
		resultType="booking">
		SELECT
		T.TIME_START as bookingTimeStart,T.TIME_END as
		bookingTimeEnd,
		S.THEATERGWAN as bookingGwan, S.THEATERROOMSEAT as
		bookingTheaterroomseat, T.TIME_NO as bookingTimeNo
		FROM
		TIMETABLE T ,
		MOVIE M, THEATER S, SEAT A
		WHERE T.MOVIE_NO = M.MOVIECD
		AND T.THEATER_NO
		= S.THEATERNO
		AND T.SE_NO = A.SE_NO
		AND M.MOVIENM = #{movie}
		AND
		S.THEATERTOWN = #{town}
		AND T.TIME_DATE = #{day}

	</select>

	<select id="seatSelectAction" parameterType="java.util.HashMap"
		resultType="booking">

		SELECT
		T.SE_NO AS BOOKINGSEAT, A.BOOKINGSEATNO1,
		A.BOOKINGSEATNO2, A.BOOKINGSEATNO3, A.BOOKINGSEATNO4,
		A.BOOKINGSEATNO5
		, A.BOOKINGSEATNO6 , A.BOOKINGSEATNO7, A.BOOKINGSEATNO8 ,
		A.BOOKINGSEATNO9, A.BOOKINGSEATNO10 ,
		A.SE_NO11 as bookingSeatNo11
		,
		A.SE_NO12 as bookingSeatNo12 , A.SE_NO13 as bookingSeatNo13,
		A.SE_NO14
		as bookingSeatNo14, A.SE_NO15 as bookingSeatNo15 , A.SE_NO16
		as
		bookingSeatNo16 ,
		A.SE_NO17 as bookingSeatNo17 , A.SE_NO18 as
		bookingSeatNo18, A.SE_NO19 as
		bookingSeatNo19, A.SE_NO20 as
		bookingSeatNo20,

		T.TIME_NO as bookingTimeNo, T.MOVIE_NO as
		bookingMovieNo,M.WATCHGRADENM as
		bookingWatchgradenm,
		M.MOVIENM as
		bookingMovieName, T.THEATER_NO as bookingTheaterNo,
		TO_CHAR(T.TIME_DATE ,'YYYY/MM/DD') as bookingDate,
		T.TIME_START as
		bookingTimeStart, T.TIME_END as bookingTimeEnd, S.THEATERTOWN as
		bookingTown, S.THEATERGWAN



		FROM TIMETABLE T , MOVIE M, THEATER S, SEAT
		A
		WHERE T.MOVIE_NO = M.MOVIECD
		AND T.THEATER_NO = S.THEATERNO
		AND T.SE_NO
		= A.SE_NO

		AND T.TIME_NO = #{time}
		AND M.MOVIENM = #{movie}
		AND
		S.THEATERTOWN = #{town}
		AND T.TIME_DATE =
		#{day}

	</select>

	<!-- <select id="movieSelectAction" parameterType="java.util.HashMap" resultType="booking"> 
		SELECT T.TIME_NO as bookingTimeNo, T.MOVIE_NO as bookingMovieNo, M.MOVIENM 
		as bookingMovieName, T.THEATER_NO as bookingTheaterNo, T.TIME_DATE as bookingDate, 
		T.TIME_START as bookingTimeStart, T.TIME_END as bookingTimeEnd, T.SE_NO as 
		bookingSeat, S.THEATERTOWN as bookingTown, S.THEATERGWAN as bookingGwan, 
		S.THEATERROOMSEAT as bookingTheaterroomseat, A.SE_NO1 as bookingSeatNo1, 
		A.SE_NO2 as bookingSeatNo2, A.SE_NO3 as bookingSeatNo3, A.SE_NO4 as bookingSeatNo4 
		FROM TIMETABLE T , MOVIE M, THEATER S, SEAT A WHERE T.MOVIE_NO = M.MOVIECD 
		AND T.THEATER_NO = S.THEATERNO AND T.SE_NO = A.SE_NO AND M.MOVIENM = #{movie} 
		AND S.THEATERTOWN = #{town} AND T.TIME_DATE = #{day} </select> -->


	<insert id="insertBooking" parameterType="booking">
		INSERT INTO BOOKING
		(BOOKING_NO,PAYMENT_NO,USER_ID,BK_DATE,TIME_NO)
		VALUES
		(BOOKING_NO_SEQ.NEXTVAL,2,#{bookingUserId},SYSDATE,#{bookingTimeNo})
	</insert>

	<update id="updateSeat" parameterType="java.util.HashMap">
		<if test="seat2 != null">
			UPDATE SEAT SET ${seat1} ='t',${seat2} ='t' WHERE SE_NO =
			#{seatNo}
		</if>

		UPDATE SEAT SET ${seat1} ='t' WHERE SE_NO = #{seatNo}
	</update>

	<select id="selectLocation" parameterType="String" resultType="booking">
		SELECT LOC_NAME as locName, LOC_LAT as locLat,LOC_LNG as locLng FROM LOC
		WHERE LOC_NAME = #{locName}
	</select>

</mapper>




















