<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sist.com.vo.apple">

	<!-- USER 매퍼 -->
	<insert id="insertUser" parameterType="User">
		INSERT INTO
		USER_INFO(USER_ID,USER_PW,USER_NAME,USER_GENDER,USER_TEL,USER_BIRTH,USER_EMAIL)
		VALUES(#{USER_ID},#{USER_PW},#{USER_NAME},#{USER_GENDER},#{USER_TEL},#{USER_BIRTH},#{USER_EMAIL})
	</insert>

	<select id="loginBoard" parameterType="String"
		resultType="String">
		SELECT USER_PW FROM USER_INFO WHERE USER_ID=#{VALUE}
	</select>
	<select id="adminloginBoard" parameterType="String"
		resultType="String">
		SELECT USER_VERIFY FROM USER_INFO WHERE USER_ID=#{VALUE}
	</select>

	<!-- MOVIE 매퍼 -->

<!-- 	<select id="selectMovies" resultType="">
		SELECT
		MOVIE_NO,MOVIE_GENRE,TO_CHAR(REGDATE,'yyyy/mm/dd') MOVIE_RELEASE,MOVIE_SUBTITLE,MOVIE_SUBTITLE,MOVIE_DIRECTOR,MOVIE_RT,MOVIE_CONTENTS,MOVIE_END
		FROM MOVIES 
	</select> -->


</mapper>




















