<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.SchedulerMapper">

	
	<!-- 스케줄러 무비 셀럭트 -->
	<select id="selectmovieList" resultType="movieList">
		select MOVIECD, MOVIENM, MOVIENMEN, SHOWTM, OPENDT, ENDDT, CONTENTS from movie
	</select>
	
	<!-- 스케줄러 영화관 셀럭트 -->
	<select id="selecttheaterList" parameterType="String" resultType="theaterList">
		select theatertown from THEATER
		where theatercity=#{VALUE}
		group by theatertown
	</select>
	
	<!-- 대분류 셀렉트 -->
	<select id="selecttheatercity" resultType="theaterList">
		select DISTINCT THEATERCITY from THEATER
	</select>
	
	
	<select id="gwanList" parameterType="booking" resultType="booking">
		   SELECT T.TIME_NO as bookingTimeNo, T.MOVIE_NO as bookingMovieNo, M.MOVIENM as bookingMovieName, T.THEATER_NO as bookingTheaterNo, 
      T.TIME_DATE as bookingDate,
      T.TIME_START as bookingTimeStart, T.TIME_END as bookingTimeEnd, T.SE_NO as bookingSeat,
       S.THEATERTOWN as bookingTown, S.THEATERGWAN as bookingGwan, S.THEATERROOMSEAT as bookingTheaterroomseat,
      A.SE_NO1 as bookingSeatNo1, A.SE_NO2 as bookingSeatNo2, A.SE_NO3 as bookingSeatNo3, A.SE_NO4 as bookingSeatNo4
      FROM TIMETABLE T , MOVIE M, THEATER S, SEAT A
      WHERE T.MOVIE_NO = M.MOVIECD
      AND T.THEATER_NO = S.THEATERNO
      AND T.SE_NO = A.SE_NO
      AND M.MOVIENM = #{bookingMovieName}
      AND S.THEATERTOWN = #{bookingTown}
      AND T.TIME_DATE = #{bookingDate}
      order by bookinggwan asc, bookingtimestart asc
      
	</select>	
	
	<select id="GwanMovieList" parameterType="booking" resultType="booking">
		   SELECT T.TIME_NO as bookingTimeNo, T.MOVIE_NO as bookingMovieNo, M.MOVIENM as bookingMovieName, T.THEATER_NO as bookingTheaterNo, 
      T.TIME_DATE as bookingDate,
      T.TIME_START as bookingTimeStart, T.TIME_END as bookingTimeEnd, T.SE_NO as bookingSeat,
       S.THEATERTOWN as bookingTown, S.THEATERGWAN as bookingGwan, S.THEATERROOMSEAT as bookingTheaterroomseat,
      A.SE_NO1 as bookingSeatNo1, A.SE_NO2 as bookingSeatNo2, A.SE_NO3 as bookingSeatNo3, A.SE_NO4 as bookingSeatNo4
      FROM TIMETABLE T , MOVIE M, THEATER S, SEAT A
      WHERE T.MOVIE_NO = M.MOVIECD
      AND T.THEATER_NO = S.THEATERNO
      AND T.SE_NO = A.SE_NO
      AND S.THEATERTOWN = #{bookingTown}
      AND T.TIME_DATE = #{bookingDate}
      ORDER BY BOOKINGMOVIENAME ASC, BOOKINGGWAN ASC, BOOKINGTIMESTART ASC
	</select>	
</mapper>



