<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.movie.dao.TheaterMapper">

	<!-- Theater 매퍼 -->

	<!-- <select id="theaterList" resultType="theaterlist"> SELECT DISTINCT 
		THEATERNO AS theaterNo, THEATERCITY AS theaterCity, THEATERTOWN AS theaterTown, 
		THEATERGWAN AS theaterGwan,THEATERROOMSEAT AS theaterRoomSeat FROM THEATER 
		</select> -->
	<select id="theaterTown" parameterType="String"
		resultType="theaterlist">
		select THEATERTOWN AS theaterTown from THEATER
		where
		theatercity=#{VALUE}
		group by THEATERTOWN
	</select>
	<select id="theaterCity" resultType="theaterlist">
		select DISTINCT THEATERCITY
		AS theaterCity from THEATER
	</select>



</mapper>




















